<connectionStrings>
  
<add name="TCwebSqlConnection" connectionString="Server=127.0.0.1;User id=postgres;password=666058;Database=huayi_production;" providerName="Npgsql" />
<add name="TCwebSqlConnection3" connectionString="Server=127.0.0.1;User id=postgres;password=666058;Database=HuaYiDB;" providerName="Npgsql" />
</connectionStrings>
