<?xml version="1.0"?>
<!--
Web.config file for HuaYimo.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
   
  <configSections>
    <section name="TCwebConfig" type="TCSolutions.TCweb.BusinessLogic.Configuration.TCwebConfig, TCweb.BusinessLogic" requirePermission="false" />
    <section name="urlrewritingnet" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" requirePermission="false" />
  </configSections>
  <connectionStrings configSource="ConnectionStrings.config" />
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0"/>
     <authentication mode="Forms">
      <forms loginUrl="admin/nologin.aspx" name=".HuaYiAU" protection="All" slidingExpiration="false" timeout="60" path="/">
      </forms>
    </authentication>
   
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET" />
      </controls>
         
    </pages>

  </system.web>
  <TCwebConfig>
    <SqlServer ConnectionStringName="TCwebSqlConnection" />
    <ScheduleTasks>
      <Thread seconds="60">
        <!--do NOT enable ClearCache task if you have enabled tracking online users-->
        <task name="ClearCache" type="TCSolutions.TCweb.BusinessLogic.Caching.ClearCacheTask, TCweb.BusinessLogic" enabled="false" stopOnError="false" />
        <task name="PurgeOnlineUsers" type="TCSolutions.TCweb.BusinessLogic.Audit.UsersOnline.PurgeOnlineUsersTask, TCweb.BusinessLogic" enabled="true" stopOnError="false" />
        <task name="Emails" type="TCSolutions.TCweb.BusinessLogic.Messages.SendQueuedMessagesTask, TCweb.BusinessLogic" enabled="true" stopOnError="false" maxTries="5" />
        <task name="KeepAlive" type="TCSolutions.TCweb.BusinessLogic.Utils.KeepAliveTask, TCweb.BusinessLogic" enabled="true" stopOnError="false" path="keepalive/ping.ashx" />
      </Thread>
      <Thread seconds="600">
        <task name="DeleteExpiredCustomerSessions" type="TCSolutions.TCweb.BusinessLogic.CustomerManagement.DeleteExpiredCustomerSessionsTask, TCweb.BusinessLogic" enabled="true" stopOnError="false" deleteExpiredCustomerSessionsOlderThanMinutes="43200" />
      </Thread>
      <Thread seconds="3600">
        <task name="DatabaseMaintance" type="TCSolutions.TCweb.BusinessLogic.Maintenance.DatabaseMaintanceTask, TCweb.BusinessLogic" enabled="false" stopOnError="false" />
      </Thread>
    </ScheduleTasks>
  </TCwebConfig>
</configuration>